/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
body{/*this i s a comment*/
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}
::selection{
  color: #fff;
  background: #11101d;
}
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 78px;
  background-image: url('../images/menu-bgresized.jpg');
  background-size: cover;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.active{
  width: 240px
}
.sidebar .logo_content .logo{
  color: #fff;
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}
.sidebar.active .logo_content .logo{
  opacity: 1;
  pointer-events: none;
}
.logo_content .logo i{
  font-size: 28px;
  margin-right: 5px;
}
.logo_content .logo .logo_name{
  font-size: 20px;
  font-weight: 400;
}
.sidebar #btn{
  position: absolute;
  color: #fff;
  top: 6px;
  left: 50%;
  font-size: 22px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}
.sidebar.active #btn{
  left: 90%;
}
.sidebar ul{
  margin-top: 20px;
}
.sidebar ul li{
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0 5px;
  list-style: none;
  line-height: 50px;
  margin: 5px 0;
}
.sidebar ul li .tooltip{
  position: absolute;
  left: 125px;
  top: 0;
  transform: translate(-50% , -50%);
  border-radius: 6px;
  height: 35px;
  width: 120px;
  background: #fff;
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
}
.sidebar.active ul li .tooltip{
  display: none;
}
.sidebar ul li:hover .tooltip{
  transition: all 0.5s ease;
  opacity: 1;
  top: 50%
}
.sidebar ul li input{
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: #1d1b31;
  padding-left: 50px;
  font-size: 20px;
  color: #fff;
}
.sidebar ul li .bx-search{
  position: absolute;
  z-index: 99;
  color: #fff;
  font-size: 22px;
  transition: all 0.5 ease;
}
.sidebar ul li .bx-search:hover{
  background: #fff;
  color: #1d1b31;
}
.sidebar ul li a{
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 12px;
  white-space: nowrap;
  transition: all 0.4s ease;
}
.sidebar ul li a:hover{
  color: #11101d;
  background: #fff;
}
.sidebar ul li i{
  font-size: 18px;
  font-weight: 400;
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}
.sidebar .links_name{
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.sidebar.active .links_name{
  transition: 0s;
  opacity: 1;
  pointer-events: auto
}

.home_content{
  position: absolute;
  height: 100%;
  width: calc(100% - 78px);
  left: 78px;
  background: #E4E9F7;
  box-shadow:  0 5px 10px rgba(0,0,0,0.2px);
  transition: all 0.5s ease;
  overflow-y: scroll;
}
.sidebar.active ~ .home_content{
  z-index: 100;
}
.home_content .text{
  font-size: 25px;
  font-weight: 500;
  color: #1d1b31;
  margin: 12px;
}
.contactpage{
  min-height: 100vh;
  background:url(../images/contact.jpg) no-repeat;
  background-size:cover ;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-info{
  max-width: 500px;
  line-height: 65px;
  padding-left: 50px;
  font-size: 18px;
}
.contact-info i{
  
  margin-right: 20px;
  font-size: 25px;
}
.contact-form{
  max-width: 700px;
  margin-right: 50px;

}
.contact-form h2{
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.contact-form .text-box{
  background:cornsilk;
  color: black;
  border: none;
  width: calc(50% - 10px);
  height: 50px;
  padding:12px;
  font-size: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  opacity: 0.9;
}
.contact-form .text-box:first-child{
  margin-right: 15px;
}
.contact-form textarea{
  background: cornsilk;
  color: black;
  border: none;
  width: 100%;
  padding: 12px;
  font-size: 15px;
  min-height: 200px;
  max-height: 400px;
  resize: vertical;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  opacity:0.9;

}
.contact-form .send-btn{
float: right;
background: #2E94E3;
color: black;
border:none;
width: 120px;
font-size:15px ;
font-weight: 600;
text-transform: uppercase;
letter-spacing: 2px;
border-radius: 5px;
}
.contact-form .send-btn:hover{
background: cadetblue;
}
.contact-info, .contact-form{
  flex:1;
}
.home_content .i{
    font-size: 15px;
    margin-top: 5px;
}
.sidebar.active ~ .home_content{
  width: calc(100% - 240px);
  left: 240px;
}
.contact-section{
  margin-left: 150px;
}
#showcase{

  background-image: url(../images/astronomy.png);
  background-position-x: center;
  background-position-y:  -100px;

  min-height: 400px;
  display: flex;
  align-content: center;
  background-repeat: no-repeat;
  animation: slider 15s infinite ease 1s;
}
#showcase h1{
  content: "Astronomy";
  font-size: 40px;
  text-align: center;
  font-family: cursive;
  color:blanchedalmond;

}
@keyframes slider {

  16%{background-image: url(../images/technology.png);}
  32%{background-image: url(../images/geography.png);}
  48%{background-image: url(../images/history.png);}
  64%{background-image: url(../images/entretainment.png);}
  80%{background-image: url(../images/morocco.png);}

}

.container{
  width: 90%;
  margin: auto;
  overflow:hidden;
  text-align: justify;
}
#main h1{
  font-size: 30px;
  font-family: cursive;
  color: rgb(10, 2, 41);
}
#main{
  float: left;
  width: 67%;
  margin-top: 60px;
}
#sidetext{
  float: right;
  width: 33%;
  margin-top: 60px;
}
#sidetext h1{
  text-align: center;
  font-family: cursive;
  color: rgb(10, 2, 41);
  padding: 5px;

}
#sidetext li{
  padding: 5px;
  list-style-type: disc;
  list-style-position: inside;
}
#sidetext p{
  padding: 5px;
}
.block{
  
  width: 95%;
  margin: 10px;
  box-sizing: border-box;
  padding: 10px;
  border: solid rgb(8, 1, 24);
  border-width: thin;
  min-height: 250px;
  text-align: justify;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;

}
.topicard{
  float:left;
  width: 29%;
  margin: 10px;
  box-sizing: border-box;
  padding: 8px;
  border: solid rgb(8, 1, 24);
  border-width: thin;
  min-height: 250px;
  min-width:100px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  text-align: center;
  padding-top: 10%;
  border-radius: 5px;
  background-color: #ddd6f3;
}

/*Topics card*/
.child1:hover{
  background-image: url(../images/nightsky.jpeg);
  background-position: center;
  color: beige;
}
.child2:hover{
  background-image: url(../images/Geography-maps.jpeg);
  background-position: center;
  color: beige;
}
.child3:hover{
  background-image: url(../images/agora.jpeg);
  background-position: center;
  color: beige;
}
.child4:hover{
  background-image: url(../images/cloud_computing.png);
  background-position: center;
  color: beige;
}
.child5:hover{
  background-image: url(../images/gladiator.jpg);
  background-position: center;
  color: beige;
}
.child6:hover{
  background-image: url(../images/souk.webp);
  background-position: center;
  color: beige;
}
@media screen and (max-width: 950px) {
  .contact-section{
    flex-direction: column;
  }
  .contact-info, .contact-form{
    margin: 30px 50px;
  }
  .contact-form h2{
    font-size: 30px;
  }
  .contact-form .text-box{
    width:100%;
}
}
